<tr>
    <td class="ph">Contacts</td>
    <td>
        <span><i class="icon icon-envelope"></i><a href="mailto:@Model.Email"> @Model.Email</a></span>
        @if (Model.WorkEmail != null && Model.WorkEmail.Trim().Length > 0)
        {
            <br />
            <span><i class="icon icon-envelope"></i><a href="mailto:@Model.WorkEmail"> @Model.WorkEmail</a></span>
        }
        @if (Model.CellPhone != null && Model.CellPhone.Trim().Length > 0)
        {
            <br />
            <span><i class="icon icon-phone"></i> @Model.CellPhone</span>
        }
        @if (Model.WorkPhone != null && Model.WorkPhone.Trim().Length > 0)
        {
            <br />
            <span><i class="icon icon-phone"></i> @Model.WorkPhone</span>
        }
    </td>
</tr>
