html, body
{
    height: 100%; /* The html and body elements cannot have any padding or margin. */
}
.main-container
{
    padding-top: 4em;
}
/* Wrapper for page content to push down footer */
#wrap
{
    min-height: 100%;
    height: auto !important;
    height: 100%; /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}
/* Set the fixed height of the footer here */
#push, #footer
{
    height: 60px;
}
#footer
{
    background-color: #f5f5f5;
}
/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px)
{
    #footer
    {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
#footer .container-fluid .credit
{
    margin: 20px 0;
}
.table .table-row-selected
{
    background-color: #0088CC;
    color: #FFFFFF; /*text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);*/
}

form.form-horizontal .control-label {
    text-align: left;
}

table th {
    background-color: #EFEFEF;
    background-image: -moz-linear-gradient(center top , #FDFDFD 0%, #EAEAEA 100%);
}
/*
.bs-docs-sidenav {
    background-color: #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    margin: 0;
    padding: 0;
    cursor: pointer;
}
.bs-docs-sidenav > li:first-child > a {
    border-radius: 4px 4px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
    border-radius: 0 0 4px 4px;
}

.bs-docs-sidenav > li > a {
    border: 1px solid #E5E5E5;
    display: block;
    margin: 0 0 -1px;
    padding: 8px 14px;
}
.bs-docs-sidenav > .active > a {
    border: 0 none;
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.1) inset, -1px 0 0 rgba(0, 0, 0, 0.1) inset;
    padding: 9px 15px;
    position: relative;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    z-index: 2;
}
.bs-docs-sidenav > li > a:hover {
    background-color: #F5F5F5;
}
.bs-docs-sidenav .submenu ul.nav-list
{
    background-color: #F5F5F5;
    border: 1px solid #E5E5E5;
    margin: 0px;
    padding: 0px;
}
.bs-docs-sidenav li.submenu > a
{
    font-weight: bold;
}
.bs-docs-sidenav .submenu ul li a {
    display: block;
    margin: 0 0 -1px;
    padding: 8px 25px;
}
.bs-docs-sidenav .submenu ul li a {
    display: block;
    margin: 0 0 -1px;
    padding: 8px 25px;
}
.bs-docs-sidenav .submenu ul
{
    display: none;
}
.bs-docs-sidenav .submenu.open ul
{
    display: block;
}
.bs-docs-example {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    padding: 14px;
    position: relative;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}*/
.row-content-block
{
    margin-bottom: 14px;
}
.row-content-block .sub-block-fixed
{
    height: 180px;
    position: relative;
}

.row-content-block .sub-block-fixed .btn
{
    position: absolute;
    bottom: 15px;
    left: 30px;
}

.row-content-block .sub-block-fixed h2
{
    margin: 0;
}

.contextmenu
{
    visibility: hidden;
    background: #CCCCCC;
    border: 1px solid #8888FF;
    z-index: 10;
    position: relative;
    width: 65px;
}
.contextmenu div
{
    padding-left: 5px
}

.contextmenu a 
{
    color: black;
}
