@using Offwind.WebApp.Infrastructure
@model Offwind.WebApp.Models.VWebPage

<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home", new { area = "" })"><i class="icon-home"></i></a> <span class="divider">/</span></li>
    <li class="active">Help</li>
</ul>
<div class="row-fluid">
    <div class="span12 well">
        <h2>Offwind Tools Help</h2>
        <p>This is in progress</p>
    </div>
</div>
