@using Offwind.WebApp.Models
@model Offwind.WebApp.Models.RestoreForgottenPassword
@if (ViewBag.UserNotFound)
{
    <div class="row-fluid row-content-block">
        <div class="span6 well">
            <h1>Restore password</h1>
            <p>User with such email was not found.</p>

            @Html.Partial("Login/__ForgottenPassword", new ForgottenPassword())
        </div>
    </div>
}
else
{
    <div class="row-fluid row-content-block">
        <div class="span6 well">
            <h1>Restore password</h1>
            <p>An email with restore password link has been sent to specified email.</p>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
