@model Offwind.WebApp.Models.RegisterModel

<div class="row-fluid row-content-block">
    <div class="span12 well">
        <h1>Thank you for registration!</h1>
        <p>Your account <strong>@Model.UserName</strong> has been created and now is awaiting for verification. Please, check your email and follow the link in it to continue.</p>
        @*<p>You may want to look at your profile <a href="@Url.Action("Profile", "Account", new {area = ""})">here</a>.</p>*@
    </div>
</div>
