@model Boolean
@{
    var fieldName = ViewData.TemplateInfo.HtmlFieldPrefix;
    var displayName = ViewData.ModelMetadata.DisplayName ?? ViewData.TemplateInfo.HtmlFieldPrefix;
    var description = ViewData.ModelMetadata.Description;
}
<div class="control-group" id="@("EditorFor_" + fieldName)">
    <label class="control-label" for="@fieldName">@displayName
        @if (description != null && description.Trim().Length > 0)
        {
            <i class="icon-question-sign tip-right" title="@description"></i>
        }
    </label>
    <div class="controls">
        @if (Model)
        {
            Output.WriteLine("<input type=\"checkbox\" class=\"\" id=\"{0}\" name=\"{0}\" value=\"true\" checked />", fieldName);
        }
        else
        {
            Output.WriteLine("<input type=\"checkbox\" class=\"\" id=\"{0}\" name=\"{0}\" value=\"false\" />", fieldName);
        }
    </div>
</div>