@model Boolean
@{var fieldName = ViewData.ModelMetadata.DisplayName ?? ViewData.TemplateInfo.HtmlFieldPrefix;}
<div class="control-group">
    <label class="control-label" for="@fieldName">@fieldName <i class="icon-question-sign"></i></label>
    <div class="controls">
        <input type="checkbox" class="" id="@fieldName" name="@fieldName" value="@Model"/>
    </div>
</div>