@using Offwind.WebApp.Infrastructure

@{
    var posts = (List<Offwind.Web.Core.Page>)ViewBag.LatestPosts;
}

<div class="row-fluid">
    <div class="span12 block">
        <div class="block-heading">News</div>
        <div class="row-fluid">
            @foreach (var item in posts)
            {
                <div class="span4 news-item">
                    <h2>@item.Title</h2>
                    <p>@item.Announce</p>
                    @{
                        var url = Url.Action("Show", "News", new { id = item.Id });
                        if (item.ExtraModule == "global-meeting-2013")
                        {
                            url = Url.Action("Index", "GlobalMeeting");
                        }
                    }
                    <a class="" href="@url">Read more...</a>
                </div>
            }
        </div>
    </div>
</div>
