@{
    ViewBag.Title = "Contact";
}

<h1>Offwind Contacts</h1>
<div class="row-fluid row-content-block">
    <div class="span6 bs-docs-example">
        <h3>Project Management</h3>
        <p style="margin-bottom: .5em;"><strong>Jafar Mahmoudi, PhD</strong></p>
        <p style="margin-bottom: .5em;">Chief Scientist at IRIS, Professor II at UiS</p>
        <p style="margin-bottom: .5em;">Gas and Energy , Heat and Mass transfer, CFD</p>
        <p style="margin-bottom: .5em;">International Research Institute of Stavanger, IRIS, Stavanger, Norway</p>
        <p style="margin-bottom: .5em;">Office: (+47) 518 750 92</p>
        <p style="margin-bottom: .5em;">Mobile: (+47) 970 783 39</p>
        <p style="margin-bottom: .5em;">Email: <a href="mailto:jafar.mahmoudi@iris.no?Subject=Offwind Project"> jafar.mahmoudi@iris.no </a></p>
    </div>
</div>
<div class="row-fluid row-content-block">
    <div class="span6 bs-docs-example">
        <h3>Software Development</h3>
        <p style="margin-bottom: .5em;"><strong>Vladislav Ogay</strong></p>
        <p style="margin-bottom: .5em;">Leading Developer and Manager at NRG Soft Ltd.</p>
        <p style="margin-bottom: .5em;">Saint-Petersburg, Russia</p>
        <p style="margin-bottom: .5em;">Mobile: +7 (911) 780-55-96</p>
        <p style="margin-bottom: .5em;">Email: <a href="mailto:vlad.ogay@nrg-soft.com?Subject=Offwind Project"> vlad.ogay@nrg-soft.com </a></p>
    </div>
</div>
