/Offwind/*.suo
/Offwind.WebApp/_ReSharper.Offwind.WebApp
/Offwind.WebApp/Offwind.WebApp/bin
/Offwind.WebApp/Offwind.WebApp/obj
/Offwind.Wake/csharp/WakeCode/bin
/Offwind.Wake/csharp/WakeCode/obj
/Offwind.WebApp/*.suo
/Offwind.WebApp/Offwind.WebApp/*.user
/Offwind.Wake/csharp/WakeCode/*.user
