@section styles
{
    @Styles.Render("~/static/css/jquery.handsontable.full.css")
}
<div id="example1" style="height: 640px; width: 1024px; overflow: scroll"></div>

@section scripts
{
    @Scripts.Render("~/static/js/jquery.handsontable.full.js")
    <script language="javascript">
        $(document).ready(function () {
            var renderer = function (instance, td) {
                Handsontable.TextCell.renderer.apply(this, arguments);
                $(td).css({ textAlign: "right" });
                return td;
            };
            var isInitialized = false;
            var $container = $("#example1");

            var changed = function(change, source) {
                if (!isInitialized) return;
                var d = $container.data('handsontable').getData();
                $.ajax({
                    url: "@Url.Action("TurbineCoordinatesSave", "Turbines", new { area = "CFD" })",
                    dataType: "json",
                    type: "POST",
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(d)
                });
            };

            $container.handsontable({
                startRows: 1,
                startCols: 16,
                columns: [
                    { type: { renderer: renderer} },
                    { type: { renderer: renderer} },
                    { type: { renderer: renderer} },
                    { type: { renderer: renderer} },
                    { type: { renderer: renderer} },
                    { type: { renderer: renderer} },
                    { type: { renderer: renderer} },
                    { type: { renderer: renderer} },
                    { type: { renderer: renderer} },
                    { type: { renderer: renderer} },
                    { type: { renderer: renderer} },
                    { type: { renderer: renderer} },
                    { type: { renderer: renderer} },
                    { type: { renderer: renderer} },
                    { type: { renderer: renderer} },
                    { type: { renderer: renderer} }],
                colHeaders: [
                    "<b>turbineType</b>",
                    "<b>X</b>",
                    "<b>Y</b>",
                    "<b>Z</b>",
                    "<b>numBladePoints</b>",
                    "<b>pointDistType</b>",
                    "<b>pointInterpType</b>",
                    "<b>bladeUpdateType</b>",
                    "<b>epsilon</b>",
                    "<b>tipRootLossCorrType</b>",
                    "<b>rotationDir</b>",
                    "<b>azimuth</b>",
                    "<b>rotSpeed</b>",
                    "<b>pitch</b>",
                    "<b>nacYaw</b>",
                    "<b>fluidDensity</b>"
                ],
                rowHeaders: true,
                minSpareRows: 1,
                onChange: changed
            });

            $.ajax({
                url: "@Url.Action("TurbineArrayData", "Turbines", new { area = "CFD" })",
                dataType: 'json',
                type: 'GET',
                success: function (res) {
                    $container.data('handsontable').loadData(res);
                    isInitialized = true;
                }
            });
        });
    </script>
}
