<div id="show_help" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Help</h3>
    </div>
    <div class="modal-body">
        <h5>Overview</h5>
        <p>On this page you can work with points in databases. View, search and import them by using map or Search dialog.</p>
        <h5>Clusters</h5>
        <p>
            Due to some technical restrictions, all points are not shown at once
            (doing that will severely load your browser). Instead, these points are grouped into clusters.
            Cluster shows a number of points it contains and it's size and density visually changes
            depending on current map scaling.
        </p>
        <p>
            <div class="cluster_sample">119</div>
            - this is an example of cluster that has 119 points grouped in it.</p>
        <h5>Points</h5>
        <p>
            Points - are the basic units that database contain. It directly corresponds to a physical location on earth defined by
            coordinates - Latitude and Longitude.
        </p>
        <p>
            <img src="https://maps.gstatic.com/mapfiles/ms2/micons/yellow-dot.png" />
            - this is an example of point.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">Close</button>
    </div>
</div>
