<script id="tpl-marker-info" type="text/x-handlebars-template">
    <div class="marker-info">
        <table>
            <tr>
                <th>Database</th>
                <td>{{db}}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{lat}}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{lng}}</td>
            </tr>
            <tr>
                <td colspan="2"><a href="/EngineeringTools/MesoWind/PointPage/{{id}}" target="_blank">Show full information</a></td>
            </tr>
        </table>
    </div>
</script>
