<div class="span3">
    @Html.Partial("__SideNav")
</div>
<div class="span9">
    <div class="well well-small" style="background-color: white;">
        <table id="database" class="table table-condensed table-hover table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    @for (var i = 0; i < 360; i = i + 30)
                    {
                        <th>@i &#176;</th>
                    }
                </tr>
            </thead>
        </table>
    </div>
</div>

@section scripts
{
    <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
    <script>
        var dburl = "@Url.Action("CurrentDataJson", "MesoWind", new { area = "EngineeringTools" })";
        var dbTable;
        
        $(document).ready(function () {
            $.extend($.fn.dataTableExt.oStdClasses, {
                "sSortAsc": "header headerSortDown",
                "sSortDesc": "header headerSortUp",
                "sSortable": "header"
            });
            dbTable = $('#database').dataTable({
                //"sDom": "lfrtip",
                "bFilter": false,
                "bProcessing": true,
                "bServerSide": true,
                "bPaginate": false,
                "sAjaxSource": dburl
            });
        });
       
    </script>

}