body, h1, h2, h3, h4, h5, h6, p, ul, li, img, fieldset, a, input, form, div {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	outline: none;
	font: 14px Arial, Helvetica, sans-serif;
	color: #393A3A;
}
.b-main a, .b-main a:visited {
    color: #00B6E9;
    text-decoration: underline;
}
.b-main a:hover {
    text-decoration: none;
}
img {
    border: 0;
}
fieldset {
    padding: 10px;
}
fieldset div.editor-field, fieldset div.editor-label {
    margin-bottom: 8px;
}
fieldset div.editor-field input {
    font: 16px Arial, Helvetica, sans-serif;
    padding: 2px;
    border: 1px solid #CACFD5;
}
fieldset a {
    color: #007FC4;
}
a:hover {
    text-decoration: underline;
}
body, html {height: 100%}
.b-top-holder {
	width: 925px;
	margin: 0 auto;
	overflow: hidden;
	height: 40px;
}
.b-languages {
	overflow: hidden;
	float: left;
}
.b-languages li {
	float: left;
	padding-top: 15px;
	text-align: center;
}
.b-languages li:first-child a {
	border: 0;
}
.b-languages a {
	font: 12px/14px Arial, Helvetica, sans-serif;
	color: #4b606c;
	display: block;
	/*width: 56px;*/
    padding-left: 10px;
    margin-right: 10px;
	border-left: 1px solid #cacfd5;
}
.b-languages li.active {
	background: url(../images/bg-a_active.png) no-repeat 50% 0;
}
.b-languages li.active a {
	font: bold 12px/14px Arial, Helvetica, sans-serif;
	color: #007fc4
}
.b-search-holder 
{
    float: right;
	overflow: hidden;
	margin: 10px 30px 0 0;
	padding-right: 30px;
	border-right: 1px solid #cacfd5;
}
.b-search-holder span {
	float: left;
	color: #393a3a;
	font: 12px/24px Arial, Helvetica, sans-serif;
	margin-right: 10px;
}
.b-search-holder form {
	float: left;
}
.b-search-holder fieldset {
    border: 0;
    padding: 0;
}
.b-search-holder input[type=text] {
	border: 1px solid #cacfd5;
	padding: 3px 10px;
	font: 12px/14px Arial, Helvetica, sans-serif;
	/*color: #cacfd5;*/
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-o-border-radius: 7px;
	float: left;
}
.b-search-holder input[type=submit] {
    border: 0;
	background:url(../images/bg-search-button.png) no-repeat;
	width: 15px;
	height: 16px;
	text-indent: -9999px;
	overflow: hidden;
	float: right;
	margin: 3px 0 0 10px;
	cursor: pointer;
}

.b-top-panel 
{
    float: right;
	margin-top: 13px;
}
.b-top-panel a:hover {
    text-decoration: underline;
}
.b-login a,
.b-print a,
.b-help a {
	font: 12px/14px Arial, Helvetica, sans-serif;
	color: #4b606c;
	padding-left: 15px;
	background:url(../images/bg-login.gif) no-repeat 0 1px;
}
.b-print a {
	background: url(../images/bg-print.gif) no-repeat 0 1px;
	padding-left: 20px;
}
.b-help a{background: url(../images/bg-help.gif) no-repeat 0 1px;}
.b-login,
.b-print,
.b-help {
	float: left;
	/*margin-right: 10px;
	padding: 0 20px 0 0;
	background: url(../images/bg-separator_1.gif) no-repeat 100% 50%;
    */
	overflow: hidden;
}
.b-help {background: none}
.b-banner-holder {
	height: 142px;
	background: url(../images/bg-banner-holder.png) repeat-x;
	margin-bottom: 7px;
}
.b-banner {
	width: 925px;
	margin: 0 auto;
	overflow: hidden;
	background:url(../images/bg-banner.png) no-repeat 100% 0;
	height: 142px;
}
.b-logo-holder {
	float: left;
	margin: 20px 0 0 0;
}
.b-logo {
	display: block
}
.b-wrapper {
	width: 925px;
	margin: 0 auto;
	overflow: hidden;
	border-top: 3px solid #cacfd5;
	border-bottom: 3px solid #cacfd5;
	padding-top: 7px;
}
.b-aside {

	width: 157px;
	overflow: hidden;
	float: left;
}
.b-side-nav {
	padding: 8px;
	background: #f2f3f4;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-o-border-radius: 8px;
	margin-bottom: 10px;
}
.b-side-nav li {
	height: 34px;
	overflow: hidden;
	padding-bottom: 4px;
    padding-right: 4px;
	/*border-bottom: 1px dotted #bac0c8;*/
}
.b-side-nav li:last-child {border: 0}
.b-side-nav a {
	padding: 0 25px;
	display: block;
	height: 100%;
	font: bold 14px/36px Arial, Helvetica, sans-serif;
	color: #4b606c;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-o-border-radius: 8px;
}
.b-side-nav li.active {border: 0}
.b-side-nav li.active a {
	color: #fff;
	text-shadow: 1px 1px #0068b0;
	background: url(../images/bg-sidenav.gif) repeat-x;
	box-shadow: 2px 2px 3px rgba(170, 170, 170, 0.8);
}
.b-side-nav li:hover a
{
	background: url(../images/bg-sidenav-hover.gif) repeat-x;
	box-shadow: 2px 2px 3px rgba(170, 170, 170, 0.8);
    text-decoration: none;
}
.b-main {
	width: 740px;
	float: right;
    padding-bottom: 25px;
}
.b-main.wide {
    width: 100%;
    padding-bottom: 25px;
}
.b-main-nav {
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	box-shadow: 2px 2px 3px rgba(170, 170, 170, 0.8);
	overflow: hidden;
	background: url(../images/bg-main-nav.png) repeat-y;
	padding: 10px 20px;
	width: 694px;
	margin-bottom: 20px;
}
.b-main-nav li:first-child {
	margin: 0;
	padding: 0;
	border: 0;
}
.b-main-nav li {
	float: left;
	margin-left: 29px;
	padding-left: 29px;
	border-left: 1px solid #9bd0eb;
}
.b-main-nav a {
	color: #fff;
	font: bold 13px/15px Arial, Helvetica, sans-serif;
	text-shadow: 1px 1px #0068b0;
}
.b-main-nav a:hover {
	color: #3fa4d8;
	text-shadow: 1px 1px #0068b0;
}
.b-main ul.b-breadcrumbs {
	overflow: hidden;
	padding-bottom: 5px;
	border-bottom: 1px dotted #cacfd5;
	margin-bottom: 10px;
    margin-left: 0;
}
.b-main ul.b-breadcrumbs a {
	color: #656768;
    font-size: 12px;
}
.b-main ul.b-breadcrumbs a:hover 
{
    text-decoration: underline;
}
.b-main ul.b-breadcrumbs li {
	float: left;
	padding-right: 13px;
    padding-left: 0;
    margin-bottom: 0;
    font: 14px/17px Arial,Helvetica,sans-serif;
	margin-right: 10px;
	background: url(../images/breadcrumbs-separator.gif) no-repeat 100% 10px;
}
.b-main ul.b-breadcrumbs li:last-child {
    background: none;
}
.b-main h1 {
	color: #007fc4;
	font: 36px/38px Arial, Helvetica, sans-serif;
	margin-bottom: 10px;
    margin-top: 10px;
}
.b-main h2 {
	color: #393a3a;
	font: bold 24px/25px Arial, Helvetica, sans-serif;
	margin-bottom: 15px;
}
.b-main h3 {
	font: 18px/20px Arial, Helvetica, sans-serif;
	color: #007fc4;
	margin-bottom: 10px;
}
.b-main p {
	color: #393a3a;
	/*font: 13px/17px Arial, Helvetica, sans-serif;*/
    line-height: 17px;
	margin-bottom: 1em;
}
.b-main ul {
	margin-bottom: 1em;
    margin-left: 1.5em;
}
.b-main li {
	font: 1em/1.2em Arial, Helvetica, sans-serif;
	color: #393a3a;
	margin-bottom: 6px;
	padding-left: 14px;
	background: url(../images/li-bullet.gif) no-repeat 0 4px;
}
.b-main table 
{
    border-collapse: collapse;
    margin-bottom: 1em;
}

.b-news {
	overflow: hidden;
	border-top: 1px solid #cacfd5;
	padding-top: 27px;
}
.b-news h2 {
	border-radius: 8px 8px 0 0;
	-moz-border-radius: 8px 8px 0 0;
	-webkit-border-radius: 8px 8px 0 0;
	-o-border-radius: 8px 8px 0 0;
	background: url(../images/bg-news-header.jpg) repeat-x 0 -1px;
	color: #007fc4;
	font: bold 18px/34px Arial, Helvetica, sans-serif;
	border-bottom: 4px solid #c1c6ce;
	text-align: center;
	margin-bottom: 18px;
}
.b-news .b-block {margin-bottom: 25px}
.b-news-title {
	display: block;
	font: bold 13px/15px Arial, Helvetica, sans-serif;
	color: #00b6e9;
	margin-bottom: 7px;
}
.b-public-data {
	font: 11px/13px Arial, Helvetica, sans-serif;
	color: #7a8795;
	margin-bottom: 6px;
}
.b-news-content {
	font: 12px/15px Arial, Helvetica, sans-serif;
	color: #393a3a;
}
.b-footer-holder {
	padding-top: 20px;
	overflow: hidden;
	margin: 0 auto;
	width: 925px;
	height: 78px;
} 
.b-copyright {
	margin: 0 85px 0 0;
	float: left;
	font: 12px/14px Arial, Helvetica, sans-serif;
	color: #393a3a;
}
.b-footer-nav {
	float: left;
	overflow: hidden;
}
.b-footer-nav a {
	font: 12px/14px Arial, Helvetica, sans-serif;
	color: #4b606c;
}
.b-footer-nav li {
	float: left;
	padding: 2px 0 2px 18px;
	border-left: 1px solid #cacfd5;
	margin-left: 18px;
}
.b-footer-nav li:first-child {
	border: 0;
	padding: 0;
	margin: 0;
}
.b-createdby {
	float: right;
	font: 12px/14px Arial, Helvetica, sans-serif;
	color: #393a3a;
}

.b-main .form_editor
{
    border-collapse: collapse;
    width: 95%;
    table-layout: fixed;
    margin: 0;
}
.b-main .form_editor li 
{
    margin-bottom: 12px;
    background: none;
    padding: 0;
}
.b-main .form_editor li div 
{
    display: block;
}
.b-main .form_editor li div.inline
{
    display: inline-block;
}
.b-main .form_editor div
{
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    margin: 0;
}

.b-main .form_editor div.field_name {
    font-weight: bold;
    width: 180px;
}

.b-main .form_editor div.validation {
    color: red;
    font-weight: bold;
}

.b-main .form_editor .small textarea {
    width: 100%;
    height: 40px;
    resize: vertical;
}

.b-main .form_editor .medium textarea {
    width: 100%;
    height: 100px;
    resize: vertical;
}

.b-main .form_editor .large textarea {
    width: 100%;
    height: 200px;
    resize: vertical;
}
.b-main form input[type=submit] {
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
}
.page-updated 
{
    font-size: 12px;
    color: #7A8795;
    margin-bottom: 10px;
}
.page-announce {
    font-weight: bold;
    margin-bottom: 10px;
}
.b-main .page-actions 
{
    padding: 3px;
    border: 1px dashed #CACFD5;
    margin-bottom: 10px;
}
.b-main .page-actions a
{
    margin-right: 10px;
    color: #009933;
}
ul.page-list
{
    margin-left: 0;
}
ul.page-list li {
    background: none;
    padding-left: 0;
    border-bottom: 2px solid #CACFD5;
}
ul.page-list li h4 a
{
    color: #00B6E9;
    display: block;
    font-weight: bold;
    margin-bottom: 7px;
}
ul.page-list li .created 
{
    color: #7A8795;
    font: 12px Arial,Helvetica,sans-serif;
    margin-bottom: 13px;
}
ul.page-list li .page-actions a {
    font-size: 11px;
}
