<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home", new { area = "" })"><i class="icon-home"></i></a><span class="divider">/</span></li>
    <li><a href="@Url.Action("Index", "HomeHelp", new { area = "Help" })">Help</a> <span class="divider">/</span></li>
    <li>Engineering Tools <span class="divider">/</span></li>
    <li>Wake Simulation</li>
</ul>
<style>
    .image.formula {
        height: 40px;
    }
    ul.reference li
    {
        list-style: none;
    }
</style>
<div class="row-fluid row-content-block">
    <div class="span12 well text">
        <h1>Engineering Model (OffWindEng)</h1>
        <p>A simple wake model is developed, which is based on N.O. Jensen theory. The model is well documented [1] and it is based on the assumption that a wake presents linearly expanding diameter [2, 3]. The Jensen model is used in commercial packages such as WAsP, Garrad Hassan (GH) WindFarmer, and WindPRO.</p>
        <p>The model assumes linear expansion of the wake, the path taken by the wind that has passed through the turbine blades is represented by a cone. A balance of momentum gives:</p>
        <p>
            <img class="image formula" src="/static/eng-tools/wake-model/formula-1.PNG" /></p>
        <p>The radius of this cone r, can be calculated using the following expression:</p>
        <p>
            <img class="image formula" src="/static/eng-tools/wake-model/formula-2.PNG" /></p>
        <p>- the value of <i>x</i> indicates down-wind distance from the turbine.</p>
        <p>- '<i>α</i>' is a dimensionless scalar that determines how quickly the wake expands with distance. The value of  '<i>α</i>' depends on the local terrain and/or wind climate conditions.</p>
        <p>
            <img class="image" src="/static/eng-tools/wake-model/wake-model-that-assumes-linear-expansion-of-wake-cone.png" alt="Figure 1: The wake model that assumes linear expansion of the wake cone." /></p>
        <p>The velocity in the wake at a distance x from the wind turbine can be obtained by using the equation:</p>
        <p>
            <img class="image" src="/static/eng-tools/wake-model/formula-3.PNG" alt="" /></p>
        <p>This equation provides the approximation of the wake speed at the down-wind location as a function of the incoming wind speed – it is not take into consideration the influence of other turbine.</p>
        <p>In the wind farm configuration, the wind speed configuration is affected not only by the upstream wind turbine that is directly in front of it but also by other upstream wind turbines. The wind speed at the shadowed wind turbine j is calculated in terms of the speed of the wind approaching the shadowing turbine <i>i</i>.</p>
        <p>In consequence in case that we deal with a farm with many turbines, the effects of the multiple single wakes must be combined into a single effect. A purely empirical mean is usually used to model the interaction between multiple wakes. The model considers the shadowed areas of the upstream wind turbines (see Figure 2). This shadowing is a measure of the degree of overlapping between the area spanned by the wakes shadow cone (Ashadow) and the area swept by the turbine shadowing (A0). In this case the velocity is computed as:</p>
        <p>
            <img class="image" src="/static/eng-tools/wake-model/formula-4.PNG" alt="" /></p>
        <p>
            <img class="image" src="/static/eng-tools/wake-model/turbine-partial-shadowing.png" alt="Figure 2: A detailed example of partial shadowing that can be used to calculate the part of a turbine’s swept area that is shadowed by another turbine’s wake." /></p>
        <p>The forces on the wind turbine are calculated with specified thrust coefficients. The thrust coefficient varies with wind speed, however in present study it is assumed to be constant.  When CT is large, close to one, the wind turbine works with a high degree of efficiency, but this occurs at low wind speeds and thus the power production is low. For higher wind speeds the turbine is less effective, but the power production is large. Power production can thus be expressed as a function of power coefficient C<sub>p</sub></p>
        <p>A computer program is developed by solving the Equation (1), (2) and (3).  As mentioned that these model does not account for the change in the turbulence intensity, which is only possible through coupling with a turbulence model. However this is not done in the present work.</p>
        <p>The major inputs to the OffWindEng are, number of wind turbines, wake decays constant, hub radius, hub height, power point  coordinates of each wind turbine, number of grid points in the X and Y direction, thrust coefficients, power coefficients etc. The major output from the OffWindEng is power output from the each wind turbine, total power, thrust and velocity profiles behind the wind turbines.</p>
        <h4>References</h4>
        <ul class="reference">
            <li>[1] Katic I., Højstrup J., Jensen N.O. ”A simple model for cluster efficiency”. European wind energy conference and exhibition, Rome; p. 407-410, 1986.</li>
            <li>[2] Sørensen T, Thøgersen ML, Nielsen P. “Adapting and calibration of existing wake models to meet the conditions inside offshore wind farms”. Aalborg: EMD International A/S; p. 53, 2008. </li>
            <li>[3] González-Longatt, F., Wall, P., Terzija, V., “Wake effect in wind farm performance: Steady-state and dynamic behavior”, Renewable Energy, V. 39, pp.329-338, 2012</li>
        </ul>
    </div>
</div>

