<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="OffwindEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=vps.nrg-soft.com\sqlexpress,2301;initial catalog=u254697_offwind;persist security info=True;user id=vo;password=OffWind2012;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="fnldir" value="D:\temp\wakesim" />
    <add key="merradir" value="D:\temp\users" />
  </appSettings>
</configuration>