@using Offwind.WebApp.Infrastructure
@using Offwind.WebApp.Infrastructure.Navigation
@{
    var nav = (NavItem<NavUrl>)ViewBag.SideNav;
}

<div class="well sidebar-nav sidebar-nav-fixed">
    <ul class="nav nav-list" id="accordion2">
        
        @foreach (var grp in nav)
        {
            <li class="accordion-heading nav-header">@grp.Title</li>
            foreach(var item in grp)
            {
                <li @this.ActiveIfCurrent(item.Url)>
                    <a href="@this.GenerateUrl(item.Url)">
                        <i class="icon-asterisk"></i> @item.Title
                    </a>
                </li>
            }
        }
    </ul>
</div>
