@model Offwind.WebApp.Areas.ControlPanel.Models.UserRole

<div class="control-group">
    @Html.HiddenFor(x => x.Role)
    <div class="control-label">
        @Html.LabelFor(x => x.IsSelected, Model.Role)
    </div>
    <div class="controls">
        @Html.CheckBoxFor(x => x.IsSelected)
    </div>
</div>