<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home", new { area = "" })"><i class="icon-home"></i></a><span class="divider">/</span></li>
    <li><a href="@Url.Action("Index", "HomeHelp", new { area = "Help" })">Help</a> <span class="divider">/</span></li>
    <li>Engineering Tools <span class="divider">/</span></li>
    <li>Wind Farm Control</li>
</ul>
<div class="row-fluid row-content-block">
    <div class="span12 well text">
        <h1>Wind Farm Control</h1>
        <p>This module is an extension to <strong>Wake Simulation</strong>. You can find more information on <a href="/Help/EngWindSim">Wake Simulation Help</a> page.</p>
    </div>
</div>

