<form class="form-horizontal indent" method="post">
    <div class="well">
        <h4>Are you sure you want to reset current case?</h4>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">YES</button>
        <button type="button" class="btn">Cancel</button>
    </div>
</form>
