@{
    Layout = "~/Areas/Management/Views/Shared/__ManagmentLayout.cshtml";
}

<h1>News</h1>
<div class="alert alert-info">
    Total widgets: 8
</div>
<div class="list-group">
    <a href="#" class="list-group-item" data-toggle="modal" data-target="#edit-card">Jumbotron<span><i class="glyphicon glyphicon-trash act"></i></span></a>
    <a href="#" class="list-group-item">Welcome to Offwind!<span><i class="glyphicon glyphicon-trash act"></i></span></a>
    <a href="#" class="list-group-item">Engineering Tools<span><i class="glyphicon glyphicon-trash act"></i></span></a>
    <a href="#" class="list-group-item">Advanced Tools<span><i class="glyphicon glyphicon-trash act"></i></span></a>
    <a href="#" class="list-group-item">Wind Farms & Turbines<span><i class="glyphicon glyphicon-trash act"></i></span></a>
    <a href="#" class="list-group-item">Partners area<span><i class="glyphicon glyphicon-trash act"></i></span></a>
    <a href="#" class="list-group-item">Help<span><i class="glyphicon glyphicon-trash act"></i></span></a>
    <a href="#" class="list-group-item">Contact us<span><i class="glyphicon glyphicon-trash act"></i></span></a>
</div>