@model IEnumerable<Offwind.Web.Core.Page>
@{
    Layout = "~/Areas/Management/Views/Shared/__ManagmentLayout.cshtml";
    ViewBag.BreadcrumbsItems = "News page";
    ViewBag.BreadcrumbsLinks = Request.RawUrl;
}

<h1>News</h1>
<div class="alert alert-info">
    Total pages: @Model.Count()
</div>

<div style="margin-bottom: 20px">
    <a href="@Url.Action("Create","News")" class="btn btn-primary">Add news</a>
</div>

<div class="list-group">
    @foreach (var item in Model)
    {
        <a href="@Url.Action("Details","News",new{id=item.Id})" class="list-group-item">@item.Title<span><i class="glyphicon glyphicon-trash act"></i></span></a>
    }
</div>
