<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="OffwindEntities" connectionString="metadata=res://*/Offwind.csdl|res://*/Offwind.ssdl|res://*/Offwind.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=vps.nrg-soft.com\mssql2008,1433;initial catalog=offwind;persist security info=True;user id=vo;password=OffWind2012;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>