@model Offwind.WebApp.Areas.WindFarms.Models.VWindFarm
<div class="actions-block">
    @if (Model.CanEdit)
    {
        <a href="@Url.Action("Edit", "WindFarm", new { area = "WindFarms", id = Model.Id })" class="btn btn-primary">Edit</a>
        <a href="@Url.Action("Delete", "WindFarm", new { area = "WindFarms", id = Model.Id })" class="btn btn-danger">Delete</a>
    }
    @if (Model.ReturnTo == "WakeSimulation2" || Model.ReturnTo == "WakeSimulation2New")
    {
        <a href="@Url.Action("Simulation", Model.ReturnTo, new { area = "EngineeringTools" })" class="btn">Back to Simulation</a>
    }
    else
    {
        <a href="@Url.Action("List", "WindFarm", new { area = "WindFarms" })" class="btn">Back to list</a>
    }
</div>
