@model Offwind.WebApp.Areas.WindFarms.Models.VWindFarm
<div class="actions-block">
    <button type="submit" class="btn btn-primary">Save</button>
    @if (Model.ReturnTo == "list" || Model.Id == Guid.Empty)
    {
        <a href="@Url.Action("wind-farms", "HomeWindFarms", new { area = "WindFarms" })" class="btn">Cancel</a>
    }
    else
    {
        <a href="@Url.Action("Details", "WindFarm", new { area = "WindFarms", id = Model.Id })" class="btn">Cancel</a>
    }
</div>
