@model Offwind.WebApp.Areas.WindFarms.Models.VWindFarm
<div class="actions-block">
    @if (Model.CanEdit)
    {
        <a href="#add-turbine" class="btn btn-primary">Add</a>
        <a href="#delete-turbine" class="btn btn-danger">Delete</a>
    }
</div>
