@model Offwind.WebApp.Areas.WindFarms.Models.VWindFarm
<div class="actions-block">
    @if (Model.CanEdit)
    {
        <button id="add-turbine" class="btn btn-primary">Add</button>
        <button id="delete-turbine" class="btn btn-danger disabled">Delete</button>
        <button id="reset-turbines" class="btn btn-danger">Reset</button>
    }
</div>
