<footer>
    <div class="navbar-fixed-bottom row-fluid">
        <div class="navbar-inner">
            <div class="container">
                <p>&copy; 2012-@DateTime.UtcNow.Year <a href="http://offwind.eu" target="_blank">Offwind</a></p>
                @*<p>Software development by <a href="http://nrg-soft.com" target="_blank">NRG Soft Ltd.</a></p>*@
            </div>
        </div>
    </div>
</footer>
