<div id="footer">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12 muted credit">
                &copy; 2012-@DateTime.UtcNow.Year <a href="http://offwind.eu" target="_blank">Offwind</a>
                <br/>
                Software development by <a href="http://nrg-soft.com" target="_blank">NRG Soft Ltd.</a>
            </div>
        </div>
    </div>
</div>
