<footer>
    <hr>
    <p>&copy; 2012-@DateTime.UtcNow.Year <a href="http://offwind.eu" target="_blank">Offwind</a></p>
    @*<p>Software development by <a href="http://nrg-soft.com" target="_blank">NRG Soft Ltd.</a></p>*@
</footer>
