<footer>
    <hr>
    <p class="pull-right">Developed by <a href="http://www.nrg-soft.com" target="_blank">NRG Soft Ltd.</a></p>
    <p>&copy; @DateTime.UtcNow.Year <a href="http://offwind.eu" target="_blank">Offwind</a></p>
</footer>
