@model Offwind.WebApp.Infrastructure.Navigation.NavItem<string>
@if (Model.Count() == 1)
{
    <li><a href="/@Model.Url">@Model.Title</a></li>
}
else
{
    <li id="fat-menu" class="dropdown">
        <a href="/@Model.Url" role="button">
            @Model.Title <i class="icon-caret-down"></i>
        </a>
        <ul class="dropdown-menu">
            @foreach (var item in Model)
            {
                <li><a href="/@item.Url">@item.Title</a></li>
            }
        </ul>
    </li>
    
}
