@model Offwind.WebApp.Models.VWebPage
@using Offwind.WebApp.Infrastructure

<div class="well well-small">
    <ul class="nav nav-list">
        @foreach (var grp in Model.Navigation)
        {
            <li class="nav-header">@grp.Title</li>
            foreach (var item in grp)
            {
                <li @this.ActiveIfCurrent(item.Url)>
                    <a href="@this.GenerateUrl(item.Url)">
                        @item.Title
                    </a>
                </li>
            }
        }
    </ul>
</div>
