@model dynamic

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Management/Views/Shared/__ManagmentLayout.cshtml";
}

<h1>Edit item</h1>

@using (Html.BeginForm("Edit","Carousel",FormMethod.Post,new {id="form"}))
{
    <div class="form-group">
        <label for="header">Title:</label>
        <input id="header" type="text" name="header" class="form-control" value="@Model.Header">
    </div>

    <div class="form-group">
        <label for="content">Content:</label>
        <textarea id="content" form="form" name="content" rows="10">
                @Html.Raw(Model.Content)
        </textarea>
    </div>
    <div class="form-group">
        <label for="image-url">Background image:</label>
        <input type="file" name="image" id="image-url"/>
    </div>
    <input type="hidden" name="id" value="@Model.Id">

    
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn" id="cancel">Cancel</button>
    </div>
    }

@section scripts
{
    <script src="~/static/ckeditor/ckeditor.js"></script>
    <script>
        $(document).ready(function() {

            new MooEditable('content');
           
            $('#cancel').on('click', function() {
                window.history.back();
            });


        });
    </script>
}
