@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home", new { area = "" })"><i class="icon-home"></i></a> <span class="divider">/</span></li>
    <li class="active">Engineering Tools</li>
</ul>
<h2>
    Please, choose what you would like to work with:
</h2>
<ul class="">
    <li>
        <a href="@Url.Action("Database", "MesoWind", new { area = "EngineeringTools" })" class="btn btn-primary btn-info">Mesoscale Wind Characteristics Database</a> <br/> <br/>
    </li>
    <li>
        <a href="@Url.Action("GeneralProperties", "WakeSimulation", new { area = "EngineeringTools" })" class="btn btn-primary btn-info">Wake Simulation</a> <br/> <br/>
    </li>
    <li>
        <a href="@Url.Action("InputData", "WindWave", new { area = "EngineeringTools" })" class="btn btn-primary btn-info">Wind Wave Power Calculator</a> <br/> <br/>
    </li>
</ul>
