@{
    ViewBag.Title = "About Offwind";
}
<div class="row-fluid row-content-block">
    <div class="span12 well">
        <h1>Offwind - prediction tools for offshore wind energy generation.</h1>

        <h2>Key Challenge</h2>
        <p>The flow of wind between windmills is influenced by other windmills – both on a
            small and large scale wind farm. So predicting the interaction between wind farms
            and turbines becomes important for optimized wind energy production or large installations
            offshore.
        </p>

        <h2>Objective</h2>
        <p>The primary objective is to develop tools for advanced operation assessment and
            forecasting for offshore wind farms. This will lead to optimal localization of a
            wind farm and how to allocate future farms with respect to each other within the
            same wind energy cluster. Assess existing tools with respect to wind flow, meteorology
            and grid interconnection (MetOcean-CFD codes, meso-/microscale codes, CFD/LES, WRF
            and PALM) Improve offshore meso-/microscale prediction methodologies Improve mesoscale
            CFD numerical models for offshore wind predictions using MetOcean Models/ data Configuration
            wind- Wave interactions, wake evolutions Improve existing optimization tool for
            offshore wind turbine specification versus wind farm Develop methods for online
            nowcasting of available farm power (1-60 min)
        </p>

        <h2>Expected Results</h2>
        <p>To gain insight of resolution in simulation, which will help improve the characterization
            of wind farms. Better understanding and new methods for wind-wave interaction. Improve
            short term prediction tool for wind velocity and phase fluctuations.</p>

        <h2>Nordic Added Value</h2>
        <p>All Nordic countries have large coastlines that lend themselves to offshore wind
            energy farms. In addition the sites have some of the most favorable wind conditions
            available. There are significant plans for installation of wind energy farms in
            the North Sea region.</p>
    </div>
</div>
<div class="row-fluid row-content-block">
    <div class="span12 well">
        <h2>Partners</h2>
        <p>Offwind is being developed by 10 partners listed below:</p>

        <table border="1" cellpadding="6">
            <tbody>
                <tr>
                    <th align="left">
                        #
                    </th>
                    <th align="left">
                        Partner
                    </th>
                    <th align="left">
                        Country
                    </th>
                    <th align="left">
                        Role
                    </th>
                    <th align="left">
                        Website
                    </th>
                </tr>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        IRIS, International Research Institute of Stavanger
                    </td>
                    <td>
                        Norway
                    </td>
                    <td>
                        R&amp;D
                    </td>
                    <td>
                        <a href="http://www.iris.no" target="_blank">www.iris.no</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        2
                    </td>
                    <td>
                        SINTEF
                    </td>
                    <td>
                        Norway
                    </td>
                    <td>
                        R&amp;D
                    </td>
                    <td>
                        <a href="http://www.sintef.no/home/" target="_blank">www.sintef.no</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        3
                    </td>
                    <td>
                        Norskvind
                    </td>
                    <td>
                        Norway
                    </td>
                    <td>
                        R&amp;D
                    </td>
                    <td>
                        <a href="http://www.vindenergi.no/norsk-vind-energi" target="_blank">www.vindenergi.no</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        4
                    </td>
                    <td>
                        Lund University
                    </td>
                    <td>
                        Sweden
                    </td>
                    <td>
                        R&amp;D
                    </td>
                    <td>
                        <a href="http://www.lunduniversity.lu.se/" target="_blank">www.lunduniversity.lu.se</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        5
                    </td>
                    <td>
                        Aalborg Univ
                    </td>
                    <td>
                        Denmark
                    </td>
                    <td>
                        R&amp;D
                    </td>
                    <td>
                        <a href="http://www.en.aau.dk/" target="_blank">www.en.aau.dk</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        6
                    </td>
                    <td>
                        Vattenfall
                    </td>
                    <td>
                        Denmark
                    </td>
                    <td>
                        R&amp;D
                    </td>
                    <td>
                        <a href="http://www.vattenfall.com" target="_blank">www.vattenfall.com</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        7
                    </td>
                    <td>
                        Megajoule
                    </td>
                    <td>
                        Portugal
                    </td>
                    <td>
                        R&amp;D
                    </td>
                    <td>
                        <a href="http://www.megajoule.pt/index.php" target="_blank">www.megajoule.pt</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        8
                    </td>
                    <td>
                        FuE-Zentrum FH Kiel GmbH
                    </td>
                    <td>
                        Germany
                    </td>
                    <td>
                        R&amp;D
                    </td>
                    <td>
                        <a href="http://www.fh-kiel-gmbh.de" target="_blank">www.fh-kiel-gmbh.de</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        9
                    </td>
                    <td>
                        NREL, National Renewable Energy Laboratory (associated member)
                    </td>
                    <td>
                        USA
                    </td>
                    <td>
                        R&amp;D
                    </td>
                    <td>
                        <a href="http://www.nrel.gov/" target="_blank">www.nrel.gov</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        10
                    </td>
                    <td>
                        NRG Soft Ltd.
                    </td>
                    <td>
                        Russia
                    </td>
                    <td>
                        SD
                    </td>
                    <td>
                        <a href="http://www.nrg-soft.com/" target="_blank">www.nrg-soft.com</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <p>
            R&amp;D - Research &amp; Development</p>
        <p>
            SD - Software Development</p>
    </div>
</div>
