
<h1>OFFWIND</h1>
<h2>Prediction tools for Offshore wind energy generation</h2>
<p>
    <b>Type:</b> Research project
</p>
<ul>
    <li>
        <span></span>
        <span></span>
    </li>
    <li>
        <span>Project Manager:</span>
        <span>Jafar Mahmoudi, International Research Institute of Stavanger, Norway</span>
    </li>
    <li>
        <span>Period:</span>
        <span>3 years</span>
    </li>
    <li>
        <span>Financing:</span>
        <span>NER (Nordic Energy research); VattenFall (Research and Development) and Own 
            Financing</span>
    </li>
    <li>
        <span>Partners:</span>
        <span>10  partners:</span>
        <ul class="b-partners-list">
            <li>
                <span class="b-city">Norway:</span>
                <span class="b-partners">IRIS; SINTEF; Norskvind</span>
            </li>
            <li>
                <span class="b-city">Sweden:</span>
                <span class="b-partners">Lund University</span>
            </li>
            <li>
                <span class="b-city">Denmark:</span>
                <span class="b-partners">Aalborg Univ; Vattenfall (Research and Development)</span>
            </li>
            <li>
                <span class="b-city">Portugal:</span>
                <span class="b-partners">Megajoule</span>
            </li>
            <li>
                <span class="b-city">Germany:</span>
                <span class="b-partners">FuE-Zentrum FH Kiel GmbH</span>
            </li>
            <li>
                <span class="b-city">US:</span>
                <span class="b-partners">NREL, National Renewable Energy Laboratory (associated member)
                    Russia: NRG Soft Ltd.</span>
            </li>
        </ul>
    </li>
</ul>
<div class="b-content">
    <h3>Key Challenge</h3>
    <p>The flow of wind between windmills is influenced by other windmills – both on a small and large scale wind farm. So predicting the interaction between wind farms and turbines becomes important for optimized wind energy production or large installations offshore.</p>
    <h3>Objective</h3>
    <p>The primary objective is to develop tools for advanced operation assessment and forecasting for offshore wind farms. This will lead to optimal localization of a wind farm and how to allocate future farms with respect to each other within the same wind energy cluster.</p>
    <ul>
        <li>Assess existing tools with respect to wind flow, meteorology and grid interconnection (MetOcean-CFD codes, meso-/microscale codes, CFD/LES, WRF and PALM)</li>
        <li>Improve offshore meso-/microscale prediction methodologies</li>
        <li>Improve mesoscale CFD numerical models for offshore wind predictions using MetOcean Models/data</li>
        <li>Configuration wind- Wave interactions, wake evolutions</li>
        <li>Improve existing optimization tool for offshore wind turbine specification versus wind farm</li>
        <li>Develop methods for online nowcasting of available farm power (1-60 min)</li>
    </ul>
    <h3>Expected Results</h3>
    <p>All Nordic countries have large coastlines that lend themselves to offshore wind energy farms. In addition the sites have some of the most favorable wind conditions available. There are significant plans for installation of wind energy farms in the North Sea region.</p>
    <h3>Wps</h3>
    <ul>
        <li>WP 1: Numerical modeling for wind turbine and wind farm performance predictions</li>
        <li>WP 2: Experiments and model validation and calibration</li>
        <li>WP 3: Fully coupled wind-wave interaction model</li>
        <li>WP 4: Nowcasting of available farm power based on data driven modelling</li>
        <li>WP 5: Database</li>
    </ul>
</div>
