@section styles
{
    @Styles.Render("~/static/css/jquery.handsontable.full.css")
}

@section scripts
{    @Scripts.Render("~/static/js/jquery.handsontable.full.js")
     @Scripts.Render("~/static/js/highcharts.js")
     

    <script language="javascript">

        var chart = null;//new AmCharts.AmSerialChart();
        var graphCL = null;//new AmCharts.AmGraph();
        var graphCD = null;//new AmCharts.AmGraph();
        var xAxis;
        var yAxis;

        $(document).ready(function() {
            var renderer = function (instance, td) {
                Handsontable.TextCell.renderer.apply(this, arguments);
                $(td).css({ textAlign: "right" });
                return td;
            };
                        
            $("#airfoildata").handsontable({
                startRows: 1,
                startCols: 3,
                columns: [
                    { type: { renderer: renderer}, readOnly: true },
                    { type: { renderer: renderer}, readOnly: true },
                    { type: { renderer: renderer}, readOnly: true }
                ],                        
                colHeaders: [
                    "<b>Alpha</b>",
                    "<b>C_l</b>",
                    "<b>C_d</b>"
                ],
                rowHeaders: true,
                minSpareRows: 1,
                onChange: function (change, source) {
                }

            });
            
            $.ajax({                    
                url: "@Url.Action("VGetAirfoilsList", "AirfoilAndTurbulence", new { area = "CFD" })",
                dataType: 'json',
                type: 'GET',
                success: function(res) {
                    var lbox = document.getElementById("airfoilsel");
                    for (var i = 0; i < res.length; i++)
                    {
                        var opt = document.createElement("option");
                        opt.label = res[i];
                        lbox.appendChild(opt);
                    }
                    if (res.length > 0) lbox.selectedIndex = 2;
                    change_info();
                }
            });

            chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'datagraph',
                    type: 'line'
                },
                title: {
                    text: 'Lift and drag coefficients',
                    x: -20
                },
                credits: {
                    enabled: false  
                },
                plotOptions: {
                    series: {
                        marker: {
                            states: {
                                hover: {
                                    enabled: true,
                                    radius: 5
                                }
                            }
                        }
                    }  
                },
                xAxis: {
                    title: {
                        text: 'Angle of Attack (deg)'
                    }
                },
                yAxis: {
                    title: {
                        text: 'Lift of Drag Coefficient'
                    }                    
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'top',
                    x: -10,
                    y: 100,
                    borderWidth: 2
                },
                series: [{
                    name: 'CL',
                    marker: {
                        enabled: false
                    }
                  },{
                    name: 'CD',
                    marker: {
                        enabled: false
                    }                    
                }]
            });
        });
        function change_info() {
            var obj = document.getElementById("airfoilsel");
            var url = "/CFD/AirfoilAndTurbulence/VGetAirfoilData/" + obj.selectedIndex;
            $.ajax({                    
                url: url,
                dataType: 'json',
                type: 'GET',
                success: function(res) {
                    $("#airfoildata").data('handsontable').loadData(res);
                    
                    var j = 0;
                    var cl = [];
                    var cd = [];
                    for (var i = 0; i < res.length-1; i++)
                    {
                        cl[j] = { x: parseFloat(res[i][0]), y: parseFloat(res[i][1]) };
                        cd[j] = { x: cl[j].x, y: parseFloat(res[i][2]) };
                        j++;
                    }
                    chart.series[0].setData(cl);
                    chart.series[1].setData(cd);
                }
            });
        }
    </script>
}

<form class="form-horizontal" method="post">
    <fieldset>
        <legend>Airfoil</legend><br/>
        <select id="airfoilsel" onchange="change_info();">
        </select>        
    </fieldset><br/>
    <fieldset id="airfoildata" class="span4">
        <legend>Data</legend><br/>
    </fieldset>
    <fieldset  class="span4" >        
        <div id="datagraph" style="min-width: 480px; height: 480px; margin: 0 auto"></div>
    </fieldset>
</form>
